In [1]:
import pandas as pd
import numpy as np
import sys
import re
from progressbar import ProgressBar

In [2]:
def core_tcrf(core):
    core_tcrf = f'___{core[3]}{core[4]}{core[5]}{core[6]}{core[7]}_'
    return core_tcrf

In [3]:
## input is the netMPHpan xlsx for multiple sequence but single allel
## for single allel, load the xls file and filter by cutoff
netMHCpan_out="text2.xls"
data = pd.read_csv(netMHCpan_out,sep="\t",skiprows=1)
df_epitope = data.loc[data['EL_Rank'] <2] 
df_epitope['core_tcrf'] = df_epitope.apply(lambda x:core_tcrf(x['core']),axis=1)
df_epitope = df_epitope[["ID","Pos", "core_tcrf","EL-score"]]
df_epitope

/Users/jianichen1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                    ID  Pos  core_tcrf  EL-score
22     KF826828-A-2004   22  ___QTEEF_    0.5147
33     KF826828-A-2004   33  ___AVSKG_    0.0916
187    KF826828-A-2004  187  ___KVLDL_    0.3065
239    KF826828-A-2004  239  ___TPVST_    0.0786
288    KF826828-A-2004  288  ___EEVLA_    0.2965
...                ...  ...        ...       ...
10985  KY883567-A-2015  242  ___PV-ST_    0.2795
11041  KY883567-A-2015  298  ___QLP-L_    0.0541
11126  KY883567-A-2015  383  ___IFNPK_    0.0768
11192  KY883567-A-2015  449  ___-GNTL_    0.1002
11193  KY883567-A-2015  450  ___-NTLY_    0.1225

[294 rows x 4 columns]

In [13]:
## get core position 
data

,Pos,Peptide,ID,core,icore,EL-score,EL_Rank,BA-score,BA_Rank,Ave,NB
0,0,MDLPILKTNAI,KF826828-A-2004,MDLPKTNAI,MDLPILKTNAI,0.0005,27.9429,0.0387,36.7871,0.0005,0
1,1,DLPILKTNAIT,KF826828-A-2004,DLPKTNAIT,DLPILKTNAIT,0.0000,78.1818,0.0164,82.0084,0.0000,0
2,2,LPILKTNAITA,KF826828-A-2004,LPILKTNTA,LPILKTNAITA,0.0001,55.0000,0.0224,67.6083,0.0001,0
3,3,PILKTNAITAI,KF826828-A-2004,PILKTNTAI,PILKTNAITAI,0.0000,87.1429,0.0212,70.4185,0.0000,0
4,4,ILKTNAITAIL,KF826828-A-2004,ITNAITAIL,ILKTNAITAIL,0.0002,44.0000,0.0551,20.4625,0.0002,0
...,...,...,...,...,...,...,...,...,...,...,...
11305,562,QLSGINNI,KY883567-A-2015,QLS-GINNI,QLSGINNI,0.0004,32.5000,0.0276,56.0958,0.0004,0
11306,563,LSGINNIA,KY883567-A-2015,LS-GINNIA,LSGINNIA,0.0001,56.6000,0.0307,49.8168,0.0001,0
11307,564,SGINNIAF,KY883567-A-2015,SGI-NNIAF,SGINNIAF,0.0004,32.3182,0.0328,45.9150,0.0004,0
11308,565,GINNIAFS,KY883567-A-2015,GINNIAFS-,GINNIAFS,0.0001,67.0000,0.0207,71.7078,0.0001,0
11309,566,INNIAFSN,KY883567-A-2015,INNIAFSN-,INNIAFSN,0.0000,83.1250,0.0184,77.2339,0.0000,0

In [12]:
#https://www.statology.org/manhattan-distance-python/
# use mahattan distance to see what happens?    
## reshape dataframe
epitope_feature = df_epitope.pivot_table(index=['ID'], columns=['core_tcrf'],values="EL-score")
epitope_feature = epitope_feature.fillna(0)
## calculate mahatton distance

epitope_feature

core_tcrf,___-GNTL_,___-LQLL_,___-NTLY_,___AITTI_,___AIVSC_,___AVSKG_,___EEVLA_,___EGKSL_,___ELLHN_,___GAIVS_,...,___TPCWK_,___TPVST_,___VGLFL_,___VGLLL_,___VGNTL_,___VITIE_,___VLDLK_,___VRQQS_,___VSSSV_,___VVQLL_
ID,,,,,,,,,,,,,,,,,,,,,
KF530260-A-2005,0.1002,0.0774,0.1225,0.067,0.1979,0.0824,0.229267,0.2811,0.1855,0.1926,...,0.049,0.139133,0.1157,0.000000,0.5219,0.0872,0.1618,0.0825,0.0786,0.0773
KF826828-A-2004,0.1002,0.0774,0.1225,0.000,0.1979,0.0824,0.229267,0.2811,0.1855,0.1926,...,0.049,0.139133,0.1157,0.000000,0.5219,0.0872,0.1618,0.0825,0.0786,0.0773
KF826838-A-2006,0.1002,0.0774,0.1225,0.000,0.1979,0.0824,0.229267,0.2811,0.1855,0.1926,...,0.049,0.139133,0.0000,0.238967,0.5219,0.0872,0.1618,0.0825,0.0786,0.0773
KF826841-A-2007,0.1002,0.0774,0.1225,0.000,0.1979,0.0824,0.229267,0.2811,0.1855,0.1926,...,0.049,0.139133,0.1157,0.000000,0.5219,0.0872,0.1618,0.0825,0.0786,0.0773
KY883567-A-2015,0.1002,0.0774,0.1225,0.000,0.1979,0.0824,0.229267,0.2811,0.1855,0.1926,...,0.049,0.139133,0.0000,0.167433,0.5219,0.0872,0.1618,0.0825,0.0786,0.0773